@import './config.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

*::selection {
  background: $pale-cyan-blue;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
body {
  font-family: $font-hei;
  font-size: 14px;
  line-height: 1.5rem;
  // background-color: #e5e5e5;
  background-color: $background-color;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover,
a:active {
  color: #d6bf67;
}

input,
button {
  font: inherit;
}

:focus {
  outline: none;
}

.markdown-body {
  ul,
  ol {
    font-size: 110%;
    line-height: 2.3;
    font-weight: bold;
    margin: 10px 0;
  }

  pre {
    background: #3b3228 !important;
    padding: 20px;
    margin: 20px 0;
    line-height: 2.3;
    color: #d0c8c6;
  }
  // code {
  //   background-color: $theme-color !important;
  //   &::selection {
  //     background-color: $theme-color-dark;
  //   }
  // }
}
