@import '../styles/config.scss';

.nav {
  border-bottom: 2px solid $luminous-vivid-orange;
  width: 980px;
  margin: 0 auto;
  padding: 1rem 0;
  & > ul {
    display: flex;
    justify-content: center;

    li > a {
      // border-bottom: 1px solid #000000;
      font-size: 1.6em;
    }
    li.active a {
      color: $luminous-vivid-orange;
    }
  }
  .hr {
    margin: 0 3rem;
  }
}
