@import '../styles/config.scss';

.nav {
  border: 1px solid red;
  width: 72rem;
  margin: 0 auto;
  padding: 1rem 0;
  & > ul {
    display: flex;
    justify-content: center;
    li:hover {
      background-color: $theme-color;
    }
    li > a {
      border-bottom: 1px solid #000000;
    }
  }
  .hr {
    margin: 0 1rem;
  }
}
